
  
  @mixin slidein {
    animation-name: fadeInOut, moveTop100px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5;

  }

  .img img {
    @include slidein
  }
  